.box {
    width: 200px;
    height: 200px;
    background-color: magenta;
    /* border-color: black ;
    border-width: 2px;
    border-style: solid; */
    border: black solid 2px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: auto;
}

span {
    display: block;
}